#events {
    img, video {
        width: 98%;
        max-width: 600px;
        display: block;
        filter: drop-shadow(0px 10px 10px #5CB9F2);
        box-shadow: 0px 10px 15px 8px rgba(0,0,0,0.75);
    }
}