.nav-wrapper {
    background: rgb(11,18,38);
    background: linear-gradient(90deg, rgba(11,18,38,1) 0%, rgba(12,38,89,1) 35%, rgba(12,38,89,1) 100%);
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: -6px 0px 8px -3px rgba(3, 202, 241, 0.75) inset;
    -webkit-box-shadow: -6px 0px 8px -3px rgba(3, 202, 241,0.75) inset;
    -moz-box-shadow: -6px 0px 8px -3px rgba(3, 202, 241,0.75) inset;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: 32px 0;
    z-index: 10000;
    box-sizing: border-box;
    @media screen and (max-width: 450px) {
        width: 60px;
    }
}

.logo {
    width: 10vh;
    -webkit-animation: pulse 1.5s ease-in-out infinite both;
    animation: pulse 1.5s ease-in-out infinite both;
    @media screen and (max-width: 450px) {
        width: 45px;
    }

    img {
        width: 100%;
    }
}

.menu-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
    transition: 0.19s ease-in-out all;

    @media screen and (max-width: 450px) {
        margin: 4.5vh auto;
    }

    &:hover {
        transform: scale(1.05);
        span {
            color: white;
        }
        img {
            filter: drop-shadow(5px 5px 10px #FF1493);
        }
    }

    span {
        color: #5CB9F2;
        font-family: "ClubbedToLife";
        font-weight: 800;
        font-size: 22px;
        letter-spacing: 2px;

        @media screen and (max-width: 450px) {
            font-size: 10px;
        }
    }

    span, img {
        transition: 0.19s ease-in-out all; 
    }

    img {
        width: 7vh;
        @media screen and (max-width: 450px) {
            width: 45px;
        }
    }
}

@keyframes pulse {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    25% {
      -webkit-transform: scale(0.97);
              transform: scale(0.97);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    50% {
      -webkit-transform: scale(0.99);
              transform: scale(0.99);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    75% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }